body {
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-color:#A0A0A0;
    /*background-image:url(Indy-Skyline.jpg);*/
    height:500px;
    width:100%;
    margin-top:-100px;
    padding-top:150px;
    text-align:center;
    color:white;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

.navbar {
    background:rgba(255,255,255,0.5);
    border-radius:0px;
    border:none;
}

.navbar-default .navbar-nav>li>a {
    color:white;
    font-weight:bold;
}

.promotionRow {
/*    margin-top:30px;*/
}

.promotion div {
    background-color:#707070;
    padding:15px;
    border-radius:10px;
}

footer {
    text-align:center;
}
